.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 45px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 6px 12px rgba(0,0,0,0.1);

}
.home-container p {
  color: var(--home-heading-color);
  font-size: 48px;
  font-weight: 500;
}
.home-container span {
  color: var(--home-heading-color);
  font-weight: 700;
}
.home-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 800px;
  gap: 50px 80px;
}

.home-card {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 240px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 4px #00000014;
  background: white;
  padding: 20px;
}

.home-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.home-card-btn {
  width: 120px;
  height: 42px;
  border-radius: 10px;
  color: var(--white);
  font-weight: 500;
  font-size: 0.9rem;
  background-color: var(--button-color);
  border: none;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.home-card-btn:hover{
  background-color: white;
  border:2px solid var(--button-color );
  color: var(--home-heading-color);
}
