.footer-main {
    width: 100%;
    /* height: 50px; */
    display: flex;
    padding: 5px 0;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #ffbd45, #ff4e6d);
    color: white;
}
.footer-main a{
    text-decoration: none;
    color: white;
    font-weight: 700
}
