.header{
    width: 100vw;
    height: 40px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.helpline{
    display: flex;
    flex-direction: row;
}