.header {
    margin: 0;
    padding: 20px;
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #ffbd45, #ff4e6d);
    color: white;
}

.header-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

#header-title{
    /* font-size: 18px; */
    font-weight: 500;
    letter-spacing: 1px;
}